Temp/
Obj/
UnityGenerated/
Library/
Assets/Standard Assets/
Assets/Assets/Materials/
Assets/Assets/Materials.meta
Assets/Assets/Editor/
Assets/Assets/Editor.meta
Assets/Standard Assets.meta
Assets/Assets/Builtin skin/
Assets/Assets/Builtin skin.meta

UpgradeLog.htm

BUILD/
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

*.meta

Thumbs.db