Temp/
Obj/
UnityGenerated/
Library/
Assets/Standard Assets/
Assets/Editor/
Assets/Editor.meta
Assets/Standard Assets.meta
Assets/Builtin skin/
Assets/Builtin skin.meta

BUILD/
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

Thumbs.db